body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*background-color: #f4f4f4; */
    background-color: #F5F5F5; /* Soft Gray for the main background */
    color: #333333; /* Charcoal for general text */
}

header {
    background-color: #F5F5F5; /* Soft Gray for the main background */
    /*background-color: #F5F5F5; /* Soft Gray for the main background */
    color: #333333; /* Charcoal for header text */

    text-align: center;
    border-bottom: 3px solid #0077cc;

}

header h1 {
    font-size: x-large;
    color: #34118d;
    margin-bottom: 12px;

}
header h1 .h1-2{
    font-size: xx-large;
}

header .authors, header .contribution, header .affiliations {
    font-size: 16px;
    color: #53455a;
    margin: 5px;
}

header nav ul .first {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center; /* Center the links */
    align-items: center;
    gap: 20px; /* Add space between each link */
}


 a.nav-link {
    font-size: 16px;
    color: #ffffff;
    background-color: rgb(175, 92, 175); /* Default color, you can change it for each link */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px; /* Rounded corners for the buttons */
    display: inline-flex;
    text-align: center;
    min-width: 40px; /* Minimum width */
    height: 20px; /* Fixed height for consistency */
}

nav ul li a.nav-link:hover {
    background-color: #523d5a; /* Darker purple on hover */
}

.nav-link img {
    vertical-align: middle;
    margin-right: 8px;
    width: 24px; /* Adjusted size */
    height: auto; /* Maintains aspect ratio */
}
header nav ul li {
    display: inline;
}



.main {
    width: 100%;      /* Adjust the width as needed */
    text-align: center; /* Aligns text to the left */
    margin: 0;        /* Removes any default margin */
    padding-left: 10px;       /* Adjust padding as needed */
   /* background-color:#34495E;  */ 
   background-color:#475c72;
    margin-top: 30px; /* Adds space above the second div */
}

.main-nav {
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
    display: inline-block; /* Ensures nav fills the width of its content */ 
}
.main-nav ul {
    list-style: none; /* Removes bullet points */
    padding: 0; /* Removes padding */
    margin: 0; /* Ensures there is no space at the bottom */
    text-align: center; /* Centers the navigation */
}

.main-nav ul li {
    display: inline-block; /* Aligns items horizontally */
    margin-right: 0.5px; /* Spacing between items */
}

.main-nav ul li a {
    text-decoration: none; /* Removes underline from links */
    color: white; /* White text color */
  /*  background-color: #34495E; /* Darker shade for nav items */
    padding: 10px 20px; /* Padding for better touch area and appearance */
    display: block; /* Ensures full block display for background color */
    border-radius: 0; /* Optional: removes rounding if you want sharp edges */
}

nav ul li a.nav-link2:hover {
    background-color: #111112; /* Darker purple on hover */
}

.second {
    margin-top: 35px;
}

.nav-link2.current{
    background-color: #277fcb; /* Darker shade for nav items */
}

h3.widget-titlee {
    margin: 20px 0 30px 5px;
    text-transform: capitalize;
    text-align: center;
    font-size: 22px;
   }

   h4.text_t {
    text-align: center;
    font-size: 15px;
    color:rgb(83, 14, 104);
   }   
   


section {
    padding: 20px;
    text-align: left;
}

section h2 {
    color: #333;
}

section p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}


.key-findings {
    background-color: white; /* White background for each section */
    border: 1px solid #c7b6b6; /* Light grey border */
    padding: 20px; /* Padding inside the box */
    margin-bottom: 20px; /* Space between sections */
    margin-top:20px;
    margin-left: 10%; /* Left margin */
    margin-right: 10%; /* Right margin */
}

.key-findings h2 {
    color: #2f2173; /* Dark grey color for the title */
    font-size: 20px; /* Larger font size for visibility */
    margin-top: 0; /* Removes default top margin */
}

.key-findings ul {
    list-style-type:circle; /* Removes bullet points */
    padding: 0px; /* Removes default padding */
    padding-left: 20px;
}

.key-findings li {
    margin-bottom: 40px; /* Space between list items */
    font-size: 16px; /* Slightly smaller font size than the title */
}

.key-findings li b {
    color: #5a0c71;
}



.info-section {
    background-color: #87CEEB; /* Sky blue background */
    color: white;
    margin-bottom: 20px;
    padding: 15px;
    border: 3px solid #256cb9; /* Bolder border with a darker blue color */
    border-radius: 0.1px;
    display: flex;
    align-items: center;
}

h3.widget-title {
    font-size: 18px;
    margin: 0 0 30px 0;
    text-transform: capitalize;
   }


h3.widget-title span {
    background-color: white;
    padding-right: 24px;
}
a {
    color: #281885;
}
b, strong {
    font-weight: bold;
}
.section {
    font-size: 22px;
}


.icon {
    margin-right: 20px;
}

.icon img {
    width: 50px; /* Adjust based on your icon size */
}

.content h2 {
    margin-top: 0;
    color: #004080; /* Optionally change the color of the title for contrast */
}

.content p {
    margin-bottom: 0;
}

/* Boxes inside intro */

.Intro-box {
    border: 1px solid #3498db;
    background-color: #f0f8ff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.content-container {
    display:flexbox;
    align-items: flex-start;

}

.key-findings {
    padding: 20px;
    
}

.content-container {
    display: flex;
    align-items: flex-start;
}


.styled-box ul {
    list-style-type: none; /* Remove default list style */
    padding-left: 0; /* Remove default padding */
}

.styled-box ul > li {
    margin-bottom: 10px;
}

.styled-box ul ul {
    list-style-type: disc; /* Add disc bullets for nested lists */
    padding-left: 20px; /* Add padding for nested lists */
}

.styled-box ul ul ul {
    list-style-type: circle; /* Add circle bullets for deeper nested lists */
}


/*...................*/

.styled-box {
    background-color: rgba(237, 247, 249, 0.694); /* Light blue background with some transparency */
    padding: 10px; /* Adds padding around the contents */
    max-width: 960px; /* Maximum width for better control on large screens */
    margin: auto; /* Centers the box in the available horizontal space */
    margin-bottom: 20px;
    overflow: auto; /* Clears float, containing the floated elements within the box */

 

    
  }
  .styled-box img {
    float: right; /* Floats the image to the right */
    margin-left: 20px; /* Adds left margin for spacing between text and image */
    width: 40%; /* Sets the width of the image */
    height: auto; /* Maintains aspect ratio */
  }
  .styled-box h2 {
    clear: both; /* Ensures the heading is above the floated elements */
  }



  /* ------------------------ */

.Intro-box .result {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.Intro-box.results h2 {
    color: #2c3e50;
}
.Intro-box.results ul {
    list-style-type: decimal;
    padding-left: 20px;
    color: #34495e;
}
.Intro-box.results li {
    margin-bottom: 10px;
}
.Intro-box.results b {
    color: #003366;
}



/* .................*/

h4.widget-title {
    font-size: 18px;
    margin: 0 0 30px 0;
    text-transform: capitalize;
    background: url(../images/heading-title-bg.png?1401512415) repeat-x center center;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

 code,pre{
    font-size: 1em;
    overflow: auto; 
    display: block;
    font-family: monospace;
    unicode-bidi: isolate;
    white-space: pre;
    margin: 1em 0px;
}
code{
    color: #6c7074ab;
}

/* --------------------- */

.key-findings img{

        float: right; /* Floats the image to the right */
        margin-left: 10px; /* Adds left margin for spacing between text and image */
        width: 30%; /* Sets the width of the image */
        height: 80%; /* Maintains aspect ratio */
}

.key-findings table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.key-findings table caption {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.key-findings table, .key-findings th, .key-findings td {
    border: 1px solid #ccc;
    text-align: left;
    padding: 8px;
}

.key-findings th {
    background-color: #e9e9e9;
    color: #333;
}

.key-findings td {
    background-color: #ffffff;
    color: #666;
}

/* Responsive styles */
@media (max-width: 480px) {
    header h1 {
        font-size: 20px; /* Further reduce font size for smaller screens */
    }

    header .h1-2 {
        font-size: 16px; /* Further reduce font size for smaller screens */
    }

    header .authors, header .contribution, header .affiliations {
        font-size: 12px; /* Further reduce font size for smaller screens */
        margin: 2px; /* Further reduce margin for tighter spacing */
    }

    a.nav-link {
        font-size: 12px; /* Further reduce font size for smaller screens */
        padding: 6px 12px; /* Further adjust padding for better touch area */
    }
}


/* Responsive styles */
@media (max-width: 768px) {
    /* Decrease the font size of navigation links */
    .main-nav ul.second li a {
        font-size: 11px;
    }}
